@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgb(0 0 0 / 0.9);
  }

  /* .rtl {
    direction: rtl;
  }
  
  .rtl .text-left {
    text-align: right !important;
  }
 
  .rtl .space-x-reverse > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 1;
  }
   
  .rtl .swiper-container .custom-swiper-button-prev {
    left: unset;
    right: 0;
  }
  
  .rtl .swiper-container .custom-swiper-button-next {
    right: unset;
    left: 0;
  } */
 
  
  